body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper-head {
  display: flex;
  padding: 10px 16px;
  border-radius: 0 !important;
  box-shadow: none !important;
  z-index: 2;
}

.paper-head>.title,
.paper-title {
  flex: 1;
  margin: auto;
  font-weight: 700;
}

.paper-head>.icon-close {
  margin: auto;
}